.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('https://img.freepik.com/free-photo/cup-coffee-table-front-street-with-city-lights-background_188544-10293.jpg');
  background-size: cover;
  background-position: center center;
}